/* styles.css */

/* Reset and global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

/* Header and navigation */
header {
    height: 80px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections and content */
section {
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

p {
    font-size: 18px;
}

/* Human Touch section */
#human-touch ul {
    list-style-position: inside;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

/* Services section */
#services ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0; /* Remove the padding from the left side */
}

#services li {
    width: 30%;
    margin-bottom: 20px;
}

#services h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Portfolio section */
.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Contact section */
form {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

/* Footer */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #services ul {
        flex-direction: column;
        align-items: center;
    }

    #services li {
        width: 100%;
        max-width: 300px;
    }
}